.about-container {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-text {
  height: 80%;
  padding: 20px;
}

.projects-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 24px;
}

.project {
  background-color: aqua;
  margin: 12px;
  padding: 12px;
}

.footer-container {
  gap: 24px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-me-container {
  display: flex;
  flex-direction: column;
}
